In [14]:
import geopandas as gpd
import numpy as np
import os
import pandas as pd
import pyreadstat as prs
import re

from IPython.display import display, HTML
from pathlib import Path

import config as c

In [15]:
print(c.drg)
for f in sorted(os.listdir(c.drg)):
    print(f)

../DRG
DRG316July.sps
DRG_Wave3_16July.csv
USAID DRG Wave 3_16July.sav

In [16]:
drgSav = os.path.join(c.drg, 'USAID DRG Wave 3_16July.sav')
df, meta = prs.read_sav(drgSav)

print('{}'.format('-'*40))
#print(df.info())
#print('{}'.format('-'*40))
print('Rows: {}  Cols: {}'.format(df.shape[0], df.shape[1]))
#pd.set_option('display.expand_frame_repr', False)
#print(df.head())
#print(display(HTML(df.head(5).to_html())))
dfAdmins = df[['region', 'munic']]
print(display(HTML(dfAdmins.head(10).to_html())))

col_names = meta.column_names
col_labels = meta.column_labels
col_names_labels = dict(zip(col_names, col_labels))
print('Names: {}  Labels: {}'.format(len(col_names), len(col_labels)))
i = 1
# for name, label in col_names_labels.items():
#     unique_cnt = len(df[name].unique())
#     print('{:<3} {:<5} {:<10}  {}'.format(i, unique_cnt, name, label))
#     i+=1

print('{}'.format('-'*40))
# i = 1
# vvl_dict = meta.variable_value_labels
# for k1, v1 in vvl_dict.items():
#     if not k1.lower() in ['region', 'munic']:
#         continue
#     print('\n({}) Code: {}\nQuestion: {}\nvalue type: {})'.format(i, k1, col_names_labels[k1], type(v1)))
#     for k2, v2 in v1.items():
#         print('    {}  {}'.format(k2, v2))
#     i+=1

----------------------------------------
Rows: 2270  Cols: 250

None
Names: 250  Labels: 250
----------------------------------------

In [17]:
#print(meta.variable_value_labels['region'])
rDict = meta.variable_value_labels['region']
pd.DataFrame.from_dict({'Region': rDict})
dfRegion = pd.DataFrame(list(rDict.items()), index=list(rDict.keys()), columns=['RegionCode', 'RegionName'])
print(display(HTML(dfRegion.head(5).to_html())))

#print(meta.variable_value_labels['munic'])
rDict = meta.variable_value_labels['munic']
pd.DataFrame.from_dict({'Munic': rDict})
dfMunic = pd.DataFrame(list(rDict.items()), index=list(rDict.keys()), columns=['MunicCode', 'MunicName'])
print(display(HTML(dfMunic.head(5).to_html())))

None

None

In [18]:
print(display(HTML(dfAdmins.head(5).to_html())))
dfAdmins = dfAdmins.merge(dfRegion, how='left', left_on='region', right_on='RegionCode')
dfAdmins = dfAdmins.merge(dfMunic, how='left', left_on='munic', right_on='MunicCode')
dfAdmins.drop(['RegionCode', 'MunicCode'], axis=1, inplace=True)
print(display(HTML(dfAdmins.head(5).to_html())))

None

None

In [37]:
dfAdminsCount = dfAdmins.groupby(['RegionName', 'MunicName']).count().reset_index()
dfAdminsCount = dfAdminsCount.drop(['munic'], axis=1).rename(columns={"region": "Record Count"})
drgCountsCsv = os.path.join(c.drg, 'DRG_municipality_record_counts.csv')
dfAdminsCount.to_csv(drgCountsCsv, sep='\t')
dfAdminsCount.head(30)

               RegionName       MunicName  Record Count
0                  Adjara          Batumi           100
1                  Adjara     Chokhatauri            20
2                  Adjara    Khelvachauri            30
3                  Adjara           Khulo            20
4                  Adjara        Kobuleti            40
5                  Adjara      Lanchkhuti            20
6                  Adjara        Ozurgeti            30
7                  Adjara            Poti            10
8                  Adjara       Shuakhevi            10
9   Imereti-kvemo svaneti      Ambrolauri            10
10  Imereti-kvemo svaneti        Baghdati            10
11  Imereti-kvemo svaneti        Chiatura            20
12  Imereti-kvemo svaneti      Kharagauli            20
13  Imereti-kvemo svaneti           Khoni            20
14  Imereti-kvemo svaneti         Kutaisi           100
15  Imereti-kvemo svaneti             Oni            10
16  Imereti-kvemo svaneti       Sachkhere            30
17  Imereti-kvemo svaneti       Samtredia            30
18  Imereti-kvemo svaneti         Terjola            20
19  Imereti-kvemo svaneti         Tkibuli            10
20  Imereti-kvemo svaneti       Tskaltubo            40
21  Imereti-kvemo svaneti            Vani            10
22  Imereti-kvemo svaneti      Zestaphoni            40
23                Kakheti         Akhmeta            30
24                Kakheti  Dedoplistskaro            10
25                Kakheti        Gurjaani            30
26                Kakheti         Kvareli            30
27                Kakheti       Lagodekhi            20
28                Kakheti        Sagarejo            30
29                Kakheti       Sighnaghi            30